读取数据

In [1]:
# 读取文件夹里的所有数据并保存到一个对象里
import os, sys
import pandas as pd

# 读取文件夹里的所有数据
def read_data(path):
    data = {}
    for file in os.listdir(path):
        if file.endswith('.csv'):
            data[file] = pd.read_csv(os.path.join(path, file))
    return data

# 合并表格
def merge_data(data):
    df = pd.DataFrame()
    for key in data:
        df = pd.concat([df, data[key]])
    return df

path = '数据/训练/'

data = read_data(path)
df = merge_data(data)

# 去除nan值
df = df.dropna()

df

,dataset,user_id,device_id,device_type,itime,iw,ib,t,cno,bg,base_ref
0,2019_CT2,Ks20_06,Ks20_06_01,CT2,2019/12/2 9:24,48.1,8.5,28.0,0.0,0,0
1,2019_CT2,Ks20_06,Ks20_06_01,CT2,2019/12/2 9:27,50.0,7.9,28.5,0.0,0,0
2,2019_CT2,Ks20_06,Ks20_06_01,CT2,2019/12/2 9:30,50.2,7.4,29.5,0.0,0,0
3,2019_CT2,Ks20_06,Ks20_06_01,CT2,2019/12/2 9:33,50.5,7.1,30.0,0.0,0,0
4,2019_CT2,Ks20_06,Ks20_06_01,CT2,2019/12/2 9:36,50.7,6.8,29.5,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6717,2019_CT2,Ks20_19,Ks20_19_01,CT2,2020/2/3 9:09,10.0,3.2,29.5,0.0,0,105
6718,2019_CT2,Ks20_19,Ks20_19_01,CT2,2020/2/3 9:12,9.9,3.1,30.0,0.0,0,105
6719,2019_CT2,Ks20_19,Ks20_19_01,CT2,2020/2/3 9:15,9.9,3.1,29.5,0.0,0,104
6720,2019_CT2,Ks20_19,Ks20_19_01,CT2,2020/2/3 9:18,9.9,3.1,29.5,0.0,0,105
6721,2019_CT2,Ks20_19,Ks20_19_01,CT2,2020/2/3 9:21,10.1,3.1,29.5,0.0,0,106

In [2]:
# 将itime转换为时间格式并仅使用时间部分

df['itime'] = pd.to_datetime(df['itime'])
# df['itime'] = df['itime'].dt.time


df

,dataset,user_id,device_id,device_type,itime,iw,ib,t,cno,bg,base_ref
0,2019_CT2,Ks20_06,Ks20_06_01,CT2,2019-12-02 09:24:00,48.1,8.5,28.0,0.0,0,0
1,2019_CT2,Ks20_06,Ks20_06_01,CT2,2019-12-02 09:27:00,50.0,7.9,28.5,0.0,0,0
2,2019_CT2,Ks20_06,Ks20_06_01,CT2,2019-12-02 09:30:00,50.2,7.4,29.5,0.0,0,0
3,2019_CT2,Ks20_06,Ks20_06_01,CT2,2019-12-02 09:33:00,50.5,7.1,30.0,0.0,0,0
4,2019_CT2,Ks20_06,Ks20_06_01,CT2,2019-12-02 09:36:00,50.7,6.8,29.5,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6717,2019_CT2,Ks20_19,Ks20_19_01,CT2,2020-02-03 09:09:00,10.0,3.2,29.5,0.0,0,105
6718,2019_CT2,Ks20_19,Ks20_19_01,CT2,2020-02-03 09:12:00,9.9,3.1,30.0,0.0,0,105
6719,2019_CT2,Ks20_19,Ks20_19_01,CT2,2020-02-03 09:15:00,9.9,3.1,29.5,0.0,0,104
6720,2019_CT2,Ks20_19,Ks20_19_01,CT2,2020-02-03 09:18:00,9.9,3.1,29.5,0.0,0,105
6721,2019_CT2,Ks20_19,Ks20_19_01,CT2,2020-02-03 09:21:00,10.1,3.1,29.5,0.0,0,106

In [3]:
# 将cno列不为0的行提取出来
cno = df[df['cno'] != 0]
cno['itime'] = cno['itime'].dt.hour * 60 + cno['itime'].dt.minute

cno

C:\Users\zpypi\AppData\Local\Temp\ipykernel_10776\2865788144.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cno['itime'] = cno['itime'].dt.hour * 60 + cno['itime'].dt.minute

,dataset,user_id,device_id,device_type,itime,iw,ib,t,cno,bg,base_ref
12,2019_CT2,Ks20_06,Ks20_06_01,CT2,600,48.3,5.8,31.0,160.0,0,0
32,2019_CT2,Ks20_06,Ks20_06_01,CT2,660,44.2,5.0,31.0,130.0,0,0
52,2019_CT2,Ks20_06,Ks20_06_01,CT2,720,36.6,4.5,31.5,115.0,0,0
59,2019_CT2,Ks20_06,Ks20_06_01,CT2,741,35.1,4.4,31.0,100.0,0,0
63,2019_CT2,Ks20_06,Ks20_06_01,CT2,753,33.6,4.3,31.0,102.0,0,108
...,...,...,...,...,...,...,...,...,...,...,...
6494,2019_CT2,Ks20_19,Ks20_19_01,CT2,1320,9.8,2.9,31.0,118.0,0,92
6593,2019_CT2,Ks20_19,Ks20_19_01,CT2,177,9.9,3.5,33.5,94.0,0,89
6673,2019_CT2,Ks20_19,Ks20_19_01,CT2,417,9.5,3.0,29.5,104.0,0,101
6693,2019_CT2,Ks20_19,Ks20_19_01,CT2,477,9.9,3.1,32.0,113.0,0,106
6714,2019_CT2,Ks20_19,Ks20_19_01,CT2,540,9.8,3.1,29.5,100.0,0,104

In [4]:
# 丢弃异常值
cno = cno[cno['cno'] < 250]
cno = cno[cno['cno']>50]

cno

,dataset,user_id,device_id,device_type,itime,iw,ib,t,cno,bg,base_ref
12,2019_CT2,Ks20_06,Ks20_06_01,CT2,600,48.3,5.8,31.0,160.0,0,0
32,2019_CT2,Ks20_06,Ks20_06_01,CT2,660,44.2,5.0,31.0,130.0,0,0
52,2019_CT2,Ks20_06,Ks20_06_01,CT2,720,36.6,4.5,31.5,115.0,0,0
59,2019_CT2,Ks20_06,Ks20_06_01,CT2,741,35.1,4.4,31.0,100.0,0,0
63,2019_CT2,Ks20_06,Ks20_06_01,CT2,753,33.6,4.3,31.0,102.0,0,108
...,...,...,...,...,...,...,...,...,...,...,...
6494,2019_CT2,Ks20_19,Ks20_19_01,CT2,1320,9.8,2.9,31.0,118.0,0,92
6593,2019_CT2,Ks20_19,Ks20_19_01,CT2,177,9.9,3.5,33.5,94.0,0,89
6673,2019_CT2,Ks20_19,Ks20_19_01,CT2,417,9.5,3.0,29.5,104.0,0,101
6693,2019_CT2,Ks20_19,Ks20_19_01,CT2,477,9.9,3.1,32.0,113.0,0,106
6714,2019_CT2,Ks20_19,Ks20_19_01,CT2,540,9.8,3.1,29.5,100.0,0,104

In [5]:
# 选取cno表itime\iw\ib\t\cno列
cno = cno[['itime', 'iw', 'ib', 't', 'cno']]

# 保存到文件
cno.to_csv('./数据/cno.csv', index=False)

cno

      itime    iw   ib     t    cno
12      600  48.3  5.8  31.0  160.0
32      660  44.2  5.0  31.0  130.0
52      720  36.6  4.5  31.5  115.0
59      741  35.1  4.4  31.0  100.0
63      753  33.6  4.3  31.0  102.0
...     ...   ...  ...   ...    ...
6494   1320   9.8  2.9  31.0  118.0
6593    177   9.9  3.5  33.5   94.0
6673    417   9.5  3.0  29.5  104.0
6693    477   9.9  3.1  32.0  113.0
6714    540   9.8  3.1  29.5  100.0

[2371 rows x 5 columns]